---
import type { Page } from './types';

import Semaphore from './semaphore.svelte';

const customs = Object.values<Page>(import.meta.glob('./syntax/*.mdx', { eager: true })).filter(
	(page) => {
		if (page.frontmatter.support.jsp?.integration === 'Custom') {
			return true;
		}

		return false;
	},
);
---

<table>
	<tbody>
		<tr>
			<th>Syntax</th>
			<th>TC39</th>
			<th>Babel</th>
			<th>Civet</th>
			<th>JS+</th>
		</tr>
		{
			customs.map((s) => {
				return (
					<tr>
						<td>
							{s.url ? (
								<a href={`/features/syntax/${s.url.split('/').at(-1)!.replace('.mdx', '')}`}>
									{s.frontmatter.title}
								</a>
							) : (
								s.frontmatter.title
							)}
						</td>
						<td>
							<Semaphore entity={s.frontmatter.support.tc39} variant="minimal" />
						</td>
						<td>
							<Semaphore entity={s.frontmatter.support.babel} variant="minimal" />
						</td>
						<td>
							<Semaphore entity={s.frontmatter.support.civet} variant="minimal" />
						</td>
						<td>
							<Semaphore entity={s.frontmatter.support.jsp} variant="minimal" />
						</td>
					</tr>
				);
			})
		}
	</tbody>
</table>
