---
import type { ProposalType, Support } from './types';

import Semaphore from './semaphore.svelte';

type Props = {
	frontmatter: {
		proposalType: ProposalType;
		support: Support;
	};
};

const { support } = Astro.props;
---

<table>
	<tbody>
		<tr>
			<th>Type</th>
			<th>TC39</th>
			<th>Babel</th>
			<th>Civet</th>
			<th>JS+</th>
		</tr>
		<tr>
			<td>{frontmatter.proposalType}</td>
			<td>
				<Semaphore entity={support.tc39} />
			</td>
			<td>
				<Semaphore entity={support.babel} />
			</td>
			<td>
				<Semaphore entity={support.civet} />
			</td>
			<td>
				<Semaphore entity={support.jsp} />
			</td>
		</tr>
	</tbody>
</table>
