---
import Semaphore from './semaphore.svelte';

import type { Page } from './types';

const syntax = Object.values<Page>(import.meta.glob('./syntax/*.mdx', { eager: true }));
---

<table>
	<tbody>
		<tr>
			<th>Syntax</th>
			<th>TC39</th>
			<th>Babel</th>
			<th>Civet</th>
			<th>JS+</th>
		</tr>
		{
			syntax.map((s) => {
				return (
					<tr>
						<td>
							{s.url ? (
								<a href={`/features/syntax/${s.url.split('/').at(-1)!.replace('.mdx', '')}`}>
									{s.frontmatter.title}
								</a>
							) : (
								s.frontmatter.title
							)}
						</td>
						<td>
							<Semaphore entity={s.frontmatter.support.tc39} variant="minimal" />
						</td>
						<td>
							<Semaphore entity={s.frontmatter.support.babel} variant="minimal" />
						</td>
						<td>
							<Semaphore entity={s.frontmatter.support.civet} variant="minimal" />
						</td>
						<td>
							<Semaphore entity={s.frontmatter.support.jsp} variant="minimal" />
						</td>
					</tr>
				);
			})
		}
	</tbody>
</table>
