---
import type { Page, Support } from './types';

import Semaphore from './semaphore.svelte';

type Col = 'proposalType' | keyof Support;

type Props = {
	pages: Page[];
	hideCols?: Col[];
};

const { pages, hideCols = [] } = Astro.props;

const cols: Record<Col, boolean> = {
	proposalType: !hideCols.includes('proposalType'),
	tc39: !hideCols.includes('tc39'),
	corejs: !hideCols.includes('corejs'),
	babel: !hideCols.includes('babel'),
	civet: !hideCols.includes('civet'),
	other: !hideCols.includes('other'),
	jsp: !hideCols.includes('jsp'),
};
---

<table>
	<tbody>
		<tr>
			<th>Page</th>
			{cols.proposalType && <th>Type</th>}
			{cols.tc39 && <th>TC39</th>}
			{cols.corejs && <th>CoreJS</th>}
			{cols.babel && <th>Babel</th>}
			{cols.civet && <th>Civet</th>}
			{cols.jsp && <th>JS+</th>}
		</tr>
		{
			pages.map((page) => {
				return (
					<tr>
						<td>
							{page.url ? (
								<a href={page.url.replace('src/content/docs', '').replace('.mdx', '')}>
									{page.frontmatter.title}
								</a>
							) : page.frontmatter.support.tc39?.value && page.frontmatter.support.tc39?.link ? (
								<a href={page.frontmatter.support.tc39.link}>{page.frontmatter.title}</a>
							) : (
								<span>{page.frontmatter.title}</span>
							)}
						</td>
						{cols.proposalType && <td>{page.frontmatter.proposalType}</td>}
						{cols.tc39 && (
							<td>
								<Semaphore entity={page.frontmatter.support.tc39} variant="minimal" />
							</td>
						)}
						{cols.corejs && (
							<td>
								<Semaphore entity={page.frontmatter.support.corejs} variant="minimal" />
							</td>
						)}
						{cols.babel && (
							<td>
								<Semaphore entity={page.frontmatter.support.babel} variant="minimal" />
							</td>
						)}
						{cols.civet && (
							<td>
								<Semaphore entity={page.frontmatter.support.civet} variant="minimal" />
							</td>
						)}
						{cols.jsp && (
							<td>
								<Semaphore entity={page.frontmatter.support.jsp} variant="minimal" />
							</td>
						)}
					</tr>
				);
			})
		}
	</tbody>
</table>
