---
import type { Page } from './types';

import Semaphore from './semaphore.svelte';

type Props = {
	pages: Page[];
	hideCols?: ('proposalType' | 'tc39' | 'babel' | 'civet' | 'jsp')[];
};

const { pages, hideCols = [] } = Astro.props;

const col = {
	proposalType: !hideCols.includes('proposalType'),
	tc39: !hideCols.includes('tc39'),
	babel: !hideCols.includes('babel'),
	civet: !hideCols.includes('civet'),
	jsp: !hideCols.includes('jsp'),
};
---

{
	pages.length === 0 ? (
		<p>No pages found...</p>
	) : (
		<table>
			<tbody>
				<tr>
					<th>Page</th>
					{col.proposalType && <th>Type</th>}
					{col.tc39 && <th>TC39</th>}
					{col.babel && <th>Babel</th>}
					{col.civet && <th>Civet</th>}
					{col.jsp && <th>JS+</th>}
				</tr>
				{pages.map((page) => {
					return (
						<tr>
							<td>
								{page.url ? (
									<a href={page.url.replace('src/content/docs', '').replace('.mdx', '')}>
										{page.frontmatter.title}
									</a>
								) : (
									page.frontmatter.title
								)}
							</td>
							{col.proposalType && <td>{page.frontmatter.proposalType}</td>}
							{col.tc39 && (
								<td>
									<Semaphore entity={page.frontmatter.support.tc39} variant="minimal" />
								</td>
							)}
							{col.babel && (
								<td>
									<Semaphore entity={page.frontmatter.support.babel} variant="minimal" />
								</td>
							)}
							{col.civet && (
								<td>
									<Semaphore entity={page.frontmatter.support.civet} variant="minimal" />
								</td>
							)}
							{col.jsp && (
								<td>
									<Semaphore entity={page.frontmatter.support.jsp} variant="minimal" />
								</td>
							)}
						</tr>
					);
				})}
			</tbody>
		</table>
	)
}
