---
import { Image } from 'astro:assets';

import javascript from '~/assets/javascript.svg';
import jsp from '~/assets/jsp.svg';
import typescript from '~/assets/typescript.svg';

import Support from './support.astro';

const syntax = Object.values(import.meta.glob('./*.mdx', { eager: true }));
---

<table>
	<tbody>
		<tr>
			<th>Syntax</th>
			<th>
				<Image src={javascript} alt="JavaScript" class="size-7" />
			</th>
			<th>
				<Image src={typescript} alt="TypeScript" class="size-7" />
			</th>
			<th>TC39</th>
			<th>Babel</th>
			<th>Civet</th>
			<th>
				<Image src={jsp} alt="JS+" class="size-7" />
			</th>
		</tr>
		{
			syntax
				.filter((s: any) => {
					if (s.frontmatter.title === 'Overview') {
						return false;
					}

					return true;
				})
				.map((s: any) => {
					return (
						<tr>
							<td>
								<a href={`/syntax/${s.url.split('/').at(-1).replace('.mdx', '')}`}>
									{s.frontmatter.title}
								</a>
							</td>
							<td>
								<Support support={s.frontmatter.support.js} />
							</td>
							<td>
								<Support support={s.frontmatter.support.ts} />
							</td>
							<td>
								<Support support={s.frontmatter.support.tc39} />
							</td>
							<td>
								<Support support={s.frontmatter.support.babel} />
							</td>
							<td>
								<Support support={s.frontmatter.support.civet} />
							</td>
							<td>
								<Support support={s.frontmatter.support.jsp} />
							</td>
						</tr>
					);
				})
		}
	</tbody>
</table>
